html,
body,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}
html {
  font: 1em/ 1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}
main{
    /* Margin bottom by footer height */
    margin-bottom: 160px;
    margin-top: 30px;
}

h2 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  padding: 10px;
}
header {
  background: #35424a;
  color: #fff;
  padding-top: 35px;
  min-height: 70px;
  border-bottom: 2px solid #0f4;
}
header h1 {
  font-size: 1.7em;
}
/* header section */
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header ul {
  margin-top: 12px;
}
header li {
  display: inline-block;
  padding: 0 5px;
}

header .brand {
  float: left;
}
header nav {
  float: right;
}
li a:hover,
.dropdown:hover .dropbtn {
  color: rgb(8, 41, 39);
  font-weight: bold;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #35424a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(8, 41, 39);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.breadcum {
  min-height: 500px;
  color: #fff;
  background: url('./images/breadcrum.jpg') no-repeat 0 -100px;
  text-align: center;
  position: relative;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.breadcum h2 {
  margin-top: 270px;
  font-size: 36px;
}

.breadcum p {
  font-size: 18px;
}

/*  filter property section */
.search-fields {
  float: left;
  width: 100%;
}
.filter-property {
  padding: 5px;
  background: #35424a;
  color: #fff;
}

.filter-property input[type='text'],
.filter-property select {
  padding: 6px;
  font-size: inherit;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
}
.filter-property .top input[type='text'] {
  width: 65%;
}
.filter-property .bottom input[type='text'] {
  width: 58%;
}
.filter-property select {
  width: 30%;
}
.search-container {
  float: right;
  width: 60%;
  text-align: right;
  padding: 10px;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.search-container input[type='text'] {
  padding: 8px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #ddd;
}
/* Properties Listing */
.property {
  padding: 0 5px;
  float: left;
  width: 24%;
  margin-bottom: 15px;
}
.property-detail {
  border: 1px solid #ccc;
}

.property-detail:hover {
  border: 1px solid #777;
}

.property-detail img {
  width: 100%;
  height: 200px;
}
.property-detail .price-type {
  padding: 5px;
}
.property-type {
  font-weight: bold;
}
.property-location {
  color: #868e96;
}

.property-price {
  color: #f00549;
  font-weight: bold;
}

/* Property Details*/
.property-images,
#googleMap {
  width: 100%;
  position: relative;
  margin: auto;
  height: auto;
}
#googleMap {
  min-height: 500px;
  border: 2px solid #ddd;
}
.property-images img {
  width: 100%;
  height: 350px;
}
.property-details {
  width: 70%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  margin: 15px 10px 15px 0;
}

.property-agent {
  float: left;
  width: 23.5%;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  margin-top: 15px;
}
.property-agent .agent-name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.whatsapp {
  border-radius: 50%;
  font-size: 24px;
  background: #17a2b8;
  text-align: center;
  margin-left: 7px;
  color: #fff;
}
.property-agent a {
  color: #003;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.control {
  color: #f2f2f2;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Forms */
.btn {
  display: inline-block;
  padding: 9px 12px;
  padding-top: 7px;
  margin-bottom: 0;
  line-height: 20px;
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  background-image: none !important;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
}

.btn-primary {
  background: #17a2b8;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  background: #343a40;
  color: #fff;
}

.btn-danger {
  background: #dc3545;
  color: #fff;
}

.btn-success {
  background: #28a745;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn:hover {
  opacity: 0.8;
}

.bg-light {
  border: #ccc solid 1px;
}

.form .form-group {
  margin: 1.2rem 0;
  padding-right: 15px;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='file'],
.form select,
.form textarea {
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 15px;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}
.modal-body .form input[type='text'],
.modal-body .form input[type='email'],
.modal-body .form input[type='password'],
.modal-body .form input[type='date'],
.modal-body .form input[type='file'],
.modal-body .form select,
.modal-body .form textarea {
  width: 100%;
}
/* Pagination */
.pagination {
  display: inline-block;
  margin-left: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
/*table */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #17a2b8;
  color: white;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 70px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  margin: auto;
  background: #fefefe;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 5px 16px;
  background-color: #001000;
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.modal-body .modal-button {
  width: 70%;
  margin: 15px auto;
  display: block;
}
.modal-button button {
  width: 100%;
}
/*  Footer */
footer {
  text-align: center;
  color: #fff;
  background: #35424a;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.pr-0 {
  padding: 0 !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-7 {
  margin-top: 7px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
/* Text Styles*/

.lead {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #17a2b8;
}
.text-success {
  color: #058527 !important;
}
.text-danger {
  color: #f00;
}
.text-dark {
  color: #343a40;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.center {
  text-align: center;
}

.inline-block {
  display: block;
}
.icon-90deg {
  transform: rotate(90deg);
}
.icon-20 {
  font-size: 1.28rem;
}
.icon-19 {
  font-size: 19px;
}
@media only screen and (max-width: 1304px) {
  .property-details {
    width: 70%;
  }
  .property-agent {
    width: 23%;
  }
}
@media only screen and (max-width: 1214px) {
  .property-details {
    width: 70%;
  }
  .property-agent {
    width: 22%;
  }
  .filter-property .bottom input[type='text'] {
    width: 57%;
  }
}
@media only screen and (max-width: 1150px) {
  .property {
    width: 32%;
    margin: 6px 0;
  }
  .property-details {
    width: 67%;
  }
  .property-agent {
    width: 24%;
  }
}
@media only screen and (max-width: 953px) {
  .filter-property .bottom input[type='text'] {
    width: 55.5%;
  }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form input[type='file'],
  .form select,
  .form textarea {
    width: 100%;
  }
  .modal-content {
    width: 80%;
  }
  .property-details {
    width: 64%;
  }
  .property-agent {
    width: 25%;
  }
}
@media only screen and (max-width: 872px) {
  .property {
    width: 48%;
    margin: 6px 0;
  }
  .property-details {
    width: 52%;
  }
  .property-agent {
    padding: 5px;
    width: auto;
  }
  .filter-property .bottom input[type='text'] {
    width: 54%;
  }
  .filter-property input[type='text'],
  .filter-property select {
    width: 27%;
  }
}
@media only screen and (max-width: 680px) {
  header {
    padding-top: 0;
  }
  header nav {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  header .brand {
    margin: 7px;
  }
  header li {
    width: 100%;
    margin-top: 4px;
  }
  .property-details {
    width: 49%;
  }
  .property-agent {
    padding: 5px;
    width: auto;
  }
  .filter-property,
  .filter-property h2 {
    padding-left: 0;
  }
  .filter-property .top input[type='text'],
  .filter-property .bottom input[type='text'],
  .filter-property select {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 14px;
  }

  .filter-property input[type='text'],
  .filter-property select {
    border: 1px solid #ccc;
  }
  .filter-property input[type='submit'] {
    display: block;
    width: 100%;
    float: none;
  }
  .pagination {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 670px) {
  .breadcum {
    background: url('./images/breadcrum.jpg') no-repeat -200px -90px;
  }

  .breadcum h2 {
    margin-top: 200px;
    font-size: 28px;
  }
  .breadcum p {
    font-size: 14px;
  }
  .property {
    width: 100%;
    margin: 6px 0;
  }
  .property-details {
    float: none;
    width: auto;
    display: block;
    margin-right: 0;
  }
  .property-agent {
    float: none;
    width: auto;
    display: block;
  }
  .search-container {
    float: none;
    display: block;
    width: 98%;
  }
  .search-container button {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .search-container input[type='text'] {
    float: none;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 6px 0;
  }
  .btn-block {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .hide-sm {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  header .brand {
    margin: 0;
  }
  header li {
    padding: 0;
  }
  .pagination a {
    padding: 4px 8px;
  }
}

.hide-link {
  display: none;
}
